/*
** style.scss
*/


/* SASS Variables */

$black:#000000;
$white:#ffffff;
$nav-color1: #b7cdf0; // light-blue on hover/focus/active menu links/anchor link
$nav-color2: #5788cf; // dark-blue on inactive menu links
$nav-color3: #366dbd; // dark blue on brand is not currently used
$bg-color1: $black; // background color
$bd-color1: $black; // border color all
$bd-color2: $white; // border color all
$hd-color1: #366dbd; // heading color
$hd-shadow1: 0.24; // text shadow opacity
$img-offset: 80;
$img-offsetPx: 80px;
// animation properties
$anim-duration-hdr: 1s; // how long animation runs
$anim-duration-promo-in: .3s; // how long animation runs
$anim-duration-promo-out: .3s; // how long animation runs
$anim-timing: ease-out; // ease-in, linear, cubic-bezier() are other types
$anim-delay-promo1: 1.5s;
$anim-delay-promo2: 2.0s;
$anim-delay-promo3: 2.5s;
$anim-delay-promo4: 3.0s;
$anim-delay-promo5: 7s;
$anim-delay-light1: 0s;
@mixin vendorPrefixesWM($property, $values) {
  -webkit-#{$property}: #{$values};
  -moz-#{$property}: #{$values};
  #{$property}: #{$values};
}

@mixin vendorPrefixes($property, $values) {
  -webkit-#{$property}: #{$values};
  -moz-#{$property}: #{$values};
  -ms-#{$property}: #{$values};
  -o-#{$property}: #{$values};
  #{$property}: #{$values};
}


/* Note: !global needed to make $browser prefix included into some keyframe content */

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    $browser: '-webkit-' !global;
    @content;
  }
  @keyframes #{$animation-name} {
    $browser: '' !global;
    @content;
  }
}

$browser: null;
@mixin ColorAndTextShadow($color, $opacity) {
  color: $color;
  text-shadow: rgba($color, $opacity) 3px 1px;
}


/* Selectors orgranized by:
** 1. by single HTML TAGS
** 2. top-down ids/classes as per BEM-like order, ie. .nav-brand{}, .nav-custom{}
** 3. where rule 2 doesn't apply top-down nested by SASS standards, ie. .nav-brand > img
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #454545;
  margin-top: 80px;
  overflow-x:hidden;
}

body,
html {
  width: 100%;
  height: 100%;
  /* font-family: "Raleway","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

section {
  height: 100vh;
}

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $bg-color1;
  z-index: 99999;
  text-align: center;
  color: white;
  #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include vendorPrefixes( transform, 'translate(-50%, -50%)');
  }
}


/* Navigation list */

.navbar-brand {
  padding: 0;
  height: 80px;
  > img {
    height: 100%;
    padding: 15px;
    width: auto;
  }
}

#nav-info {
  float: left;
  padding: 30px 0 0 10px;
  display: inline-block;
  color: $nav-color1;
}

.navbar-custom {
  margin-bottom: 0;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  text-transform: uppercase;
  background-color: black;
  background-image: linear-gradient(to top, #000000, #333333);
  a {
    color: $nav-color1;
  }
}


/* Collapsed Menu too short when dropdown is expanded */

.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}


/* js toggles class on/off to make collapsed menu background full height of window */

.navbar-bg-long {
  bottom: 0;
}


/* KBR: fix: The 'hamburger' toggle-menu icon was not centered to the navbar. Adjust margin */

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Custom Colors code generated by Twitter Bootstrap 3 Navbar Generator */

.navbar-custom {
  background-color: $bg-color1;
  border-color: $bd-color1;
  .navbar-brand {
    color: $nav-color2;
    &:hover,
    &:focus {
      color: $nav-color1;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: $nav-color2;
  }
  .navbar-nav > {
    li {
      &:last-child > a {
        border-right: 1px solid $bd-color1;
      }
      > a {
        color: $nav-color2;
        border-left: 1px solid $bd-color1;
        &:hover,
        &:focus {
          color: $nav-color1;
          background-color: transparent;
        }
      }
    }
    .active > a {
      color: $nav-color1;
      background-color: $bg-color1;
      &:hover,
      &:focus {
        color: $nav-color1;
        background-color: $bg-color1;
      }
    }
    .disabled > a {
      color: #cccccc;
      background-color: transparent;
      &:hover,
      &:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: #dddddd;
    &:hover,
    &:focus {
      background-color: #dddddd;
    }
    .icon-bar {
      background-color: #cccccc;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $bd-color1;
  }
  .navbar-nav > {
    .dropdown > a {
      &:hover .caret,
      &:focus .caret {
        border-top-color: $nav-color1;
        border-bottom-color: $nav-color1;
      }
    }
    .open > a {
      background-color: $bg-color1;
      color: $nav-color1;
      &:hover,
      &:focus {
        background-color: $bg-color1;
        color: $nav-color1;
        border-color: $bd-color1;
      }
      .caret,
      &:hover .caret,
      &:focus .caret {
        border-top-color: $nav-color1;
        border-bottom-color: $nav-color1;
      }
    }
    .dropdown > a .caret {
      border-top-color: $nav-color2;
      border-bottom-color: $nav-color2;
    }
  }
  .navbar-link {
    color: $nav-color2;
    &:hover {
      color: $nav-color1;
    }
  }
}

.dropdown-menu {
  font-size: 16px;
  border: 1px solid $nav-color2;
  background-color: $bg-color1;
  > li > a {
    color: $nav-color2;
    font-weight: 500;
    &:hover,
    &:focus {
      color: $nav-color1;
      text-decoration: none;
      background-color: transparent;
    }
  }
}


/* allow dropmenu to display on hover for larger screens */
/*@media (min-width: 768px) {*/
/*  ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    opacity: 0.9;
} */


/* Reduce time it takes to collapse menus */
.collapsing {
  @include vendorPrefixesWM( transition, 'none');
}


/*
** SmartPhones and smaller
*/

@media (max-width: 767px) {
  /* KBR: fix resizing browser to SmartPhone width noticed BS navbar height grow past 80px
  **      due to how Bootstrap added 1px in height to navbar-fixed -top and -bottom borders
  */
  .navbar-custom .navbar-collapse {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;
    text-align: center;
    z-index: 999;
  }
  .navbar-fixed-top {
    border-width: 0;
  }
  /*.navbar-fixed-bottom {
    border-width: 0;
  }*/
  /* KBR: fix: 'hamburger' toggle-menu icon was not vertically centered in navbar. Adjusted margin */
  .navbar-toggle {
    padding: 10px;
    margin: 22px 15px 22px 0;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > {
    li > a {
      color: $nav-color2;
      &:hover,
      &:focus {
        color: $nav-color1;
        background-color: transparent;
      }
    }
    .active > a {
      color: $nav-color1;
      background-color: $bg-color1;
      &:hover,
      &:focus {
        color: $nav-color1;
        background-color: $bg-color1;
      }
    }
    .disabled > a {
      color: #cccccc;
      background-color: transparent;
      &:hover,
      &:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
  }
  .dropdown-menu {
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
/* End @media (max-width: 767px) */
}

.bg-img::before {
  position: fixed;
  content: ' ';
  display: block;
  width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  pointer-events: none;
  border: 1px solid $bd-color1;
  text-align: center;
  z-index: -10;
  background-position: 50% 80px, 50% 80px;
  background-repeat: no-repeat, no-repeat;
  background-origin: content-box;
}

@media (min-width: 768px) {
  .bg-img1::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/v1488045779/turntables1-bw2-test.png), linear-gradient(to top, #206020, white);
    background-size: contain, contain;
  }

  .bg-img2::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/v1486597546/dj-2.jpg);
    background-size: cover, cover;
  }

  .bg-img3::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/v1489097083/wallpaper-dj-blue-neon.jpg);
    background-size: cover, cover;
  }

  .bg-img4::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/v1489096997/wallpaper-neon-plugs.jpg);
    background-size: cover, cover;
  }
}

.bg-img1 {
  h1 {
    font-size: 32px;
    color: $white;
    position: absolute;
    width: 400px;
    padding: 2px;
    z-index: 2;
    &:nth-child(1) {
      top: 10vh;
      left: 10%;
      background-color: #D437BE;
    }
    &:nth-child(2) {
      top: 16vh;
      left: 10%;
      background-color: #18C8FC;
    }
    &:nth-child(3) {
      top: 22vh;
      left: 10%;
      background-color: #A7FC15;
    }
    &:nth-child(4) {
      top: 28vh;
      left: 10%;
      background-color: #FF3D00;
    }
  }
  #bg-img1-filler {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 13%;
    background: $black; // hide gradient spillage at page bottom
    color: $white;
    text-align: center;
    z-index: 0;
  }
}

/* if animations are not running check if enabled in javascript */
.animTurntableLights {
  @include vendorPrefixes(animation, 'turntableLights 24s #{$anim-delay-light1} ease infinite');
  @include keyframes (turntableLights) {
    0% {
      #{$browser}filter: hue-rotate(0deg);
    }
    100% {
      #{$browser}filter: hue-rotate(-360deg);
    }
  }
}

/* Mobile & Tablet */
@media (max-width: 767px) {
  .bg-img1::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1488045779/turntables1-bw2-test.png), linear-gradient(to top, #206020, white);
    background-size: contain, contain;
  }

  .bg-img2::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1486597546/dj-2.jpg);
    background-size: cover, cover;
  }

  .bg-img3::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1489097083/wallpaper-dj-blue-neon.jpg);
    background-size: cover, cover;
  }

  .bg-img4::before {
    background-image: url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1486597567/wallpaper-soundworx02.png), url(https://res.cloudinary.com/djhkdplck/image/upload/c_scale,w_640/v1489096997/wallpaper-neon-plugs.jpg);
    background-size: cover, cover;
  }
}
@media (max-width: 767px) {
  .bg-img1 {
    h1 {
      position: absolute;
      font-size: 28px;
      &:nth-child(1) {
        top: 50vh;
        left: 3%;
      }
      &:nth-child(2) {
        top: 56vh;
        left: 3%;
      }
      &:nth-child(3) {
        top: 62vh;
        left: 3%;
      }
      &:nth-child(4) {
        top: 68vh;
        left: 3%;
      }
    }
  }
}


/* Main Content */

.content {
  position: relative;
  background-color: white;
  opacity: 0.99;
  /* believe or not this affects stacking overrides z-index stacking order */
  &#music,
  &#artists,
  &#videos,
  &#about {
    padding-top: 80px;
    overflow: hidden;
    z-index: 0;
  }
  h2 {
    @include ColorAndTextShadow ( $black, $hd-shadow1);
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10%;
  }
}


/* Content Animations & Transforms */

.promo-off {
  opacity: 0;
}

.animEvent1 {
  @include vendorPrefixes(animation, 'fadeInDown #{$anim-duration-promo-in} #{$anim-timing} #{$anim-delay-promo1} 1 forwards, fadeOutUp #{$anim-duration-promo-out} #{$anim-timing} #{$anim-delay-promo5} 1 forwards');
}

.animEvent2 {
  @include vendorPrefixes(animation, 'fadeInLeft #{$anim-duration-promo-in} #{$anim-timing} #{$anim-delay-promo2} forwards, fadeOutRight #{$anim-duration-promo-out} #{$anim-timing} #{$anim-delay-promo5} forwards');
}

.animEvent3 {
  @include vendorPrefixes(animation, 'fadeInRight #{$anim-duration-promo-in} #{$anim-timing} #{$anim-delay-promo3} forwards, fadeOutLeft #{$anim-duration-promo-out} #{$anim-timing} #{$anim-delay-promo5} forwards');
}

.animEvent4 {
  @include vendorPrefixes(animation, 'fadeInUp #{$anim-duration-promo-in} #{$anim-timing} #{$anim-delay-promo4} forwards, fadeOutDown #{$anim-duration-promo-out} #{$anim-timing} #{$anim-delay-promo5} forwards ');
}


/* KEY FRAMES for animEvents */

@include keyframes (fadeInDown) {
  0% {
    opacity: 0;
    #{$browser}transform: translate3d(0, -200px, 0);
  }
  100% {
    opacity: 1;
    #{$browser}transform: none;
  }
}

@include keyframes (fadeInUp) {
  0% {
    opacity: 0;
    #{$browser}transform: translate3d(0, 200px, 0);
  }
  100% {
    opacity: 1;
    #{$browser}transform: none;
  }
}

@include keyframes (fadeInLeft) {
  0% {
    opacity: 0;
    #{$browser}transform: translate3d(-200px, 0, 0);
  }
  100% {
    opacity: 1;
    #{$browser}transform: none;
  }
}

@include keyframes (fadeInRight) {
  0% {
    opacity: 0;
    #{$browser}transform: translate3d(200px, 0, 0);
  }
  100% {
    opacity: 1;
    #{$browser}transform: none;
  }
}

@include keyframes (fadeOutUp) {
  0% {
    opacity: 1;
    #{$browser}transform: none;
  }
  100% {
    opacity: 0;
    #{$browser}transform: translate3d(0, 200px, 0);
  }
}

@include keyframes (fadeOutDown) {
  0% {
    opacity: 1;
    #{$browser}transform: none;
  }
  100% {
    opacity: 0;
    #{$browser}transform: translate3d(0, -200px, 0);
  }
}

@include keyframes (fadeOutRight) {
  0% {
    opacity: 1;
    #{$browser}transform: none;
  }
  100% {
    opacity: 0;
    #{$browser}transform: translate3d(200px, 0, 0);
  }
}

@include keyframes (fadeOutLeft) {
  0% {
    opacity: 1;
    #{$browser}transform: none;
  }
  100% {
    opacity: 0;
    #{$browser}transform: translate3d(-200px, 0, 0);
  }
}

/* end KEY FRAMES for animEvents */

.animation-off {
  opacity: 0;
}

.animatedFadeInUp {
  @include vendorPrefixes(animation, 'fadeInUpHdr #{$anim-duration-hdr} #{$anim-timing} forwards');
}

@include keyframes (fadeInUpHdr) {
  0% {
    @include vendorPrefixes( transform, 'translate3d(0, 40px, 0)');
  }
  100% {
    @include vendorPrefixes( transform, 'translate3d(0, 0, 0)');
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    border-bottom: none;
    letter-spacing: 1px;
    @include vendorPrefixesWM( transition, 'background 0.3s ease-in-out, padding 0.3s ease-in-out');
  }
}
